Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
# (i) String
strvar="Hello, World!"

# (ii) List
listvar=[1, 2, 3, 4, 5]

# (iii) Float
flovar=3.14

# (iv) Tuple
tuplevar=(10, 20, 30)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [2]:
var1 = ''
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))
var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
result = 10 / 3
print(result)

remainder = 10 % 3
print(remainder)

quotient = 10 // 3
print(quotient)

result = 2 ** 3
print(result)

3.3333333333333335
1
3
8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
my_list = [1, "Hello", 3.14, True, [1, 2, 3], {'key': 'value'}, (4, 5, 6), None, 'Python', 7]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'key': 'value'}, Data Type: <class 'dict'>
Element: (4, 5, 6), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: Python, Data Type: <class 'str'>
Element: 7, Data Type: <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
a=A
count = 0
while A % B == 0:
    A /= B 
    count += 1
if A == 1:
    print(f"{a} is purely divisible by {B} and can be divided {count} times.")
else:
    print(f"{a} is not purely divisible by {B}.")

Enter number A:  128
Enter number B:  2

128 is purely divisible by 2 and can be divided 7 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
my_list = [2, 5, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]
for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

2 is not divisible by 3.
5 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
24 is divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
33 is divisible by 3.
36 is divisible by 3.
39 is divisible by 3.
42 is divisible by 3.
45 is divisible by 3.
48 is divisible by 3.
51 is divisible by 3.
54 is divisible by 3.
57 is divisible by 3.
60 is divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
69 is divisible by 3.
72 is divisible by 3.
75 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [11]:
#Mutable and immutable are terms used to describe whether an object's state or value can be changed after it is created. In the context of programming, this concept is often applied to data types.

#Immutable objects are those whose state cannot be modified after they are created. Any operation that appears to modify the object creates a new object. Common examples of immutable data types in Python include:

#**int:** Integer objects are immutable.

x = 5
y = x  
x += 1 
print(x) 
print(y)  

#2. **float:** Float objects are also immutable.
a = 3.14
b = a  
a = 2.71  
print(a)  
print(b)  

#3. **tuple:** Tuples are immutable.
tup1 = (1, 2, 3)
tup2 = tup1 

### Mutable Data Types:

#Mutable objects, on the other hand, can be modified after creation. Changes to the object affect all references to it. Common examples of mutable data types in Python include:

#1. **list:** Lists are mutable.
list1 = [1, 2, 3]
list2 = list1  
list1[0] = 0  
print(list1)  
print(list2)  


#2. **dict:** Dictionaries are mutable.

dict1 = {'key': 'value'}
dict2 = dict1 
dict1['key'] = 'new_value'
print(dict1)  
print(dict2) 

#3. **set:** Sets are mutable.
set1 = {1, 2, 3}
set2 = set1 
set1.add(4)  
print(set1)  
print(set2)

6
5
2.71
3.14
[0, 2, 3]
[0, 2, 3]
{'key': 'new_value'}
{'key': 'new_value'}
{1, 2, 3, 4}
{1, 2, 3, 4}