MySql Assignment

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database: A database is an organized collection of data, typically stored and accessed electronically from a computer system. It is designed to manage, store, and retrieve data efficiently.

SQL (Structured Query Language) Databases:

Definition: SQL databases are relational databases that store data in tables and use SQL for querying and maintaining the database.
Examples: MySQL, PostgreSQL, SQLite, Oracle, SQL Server.
Characteristics: Structured, predefined schema, support for transactions, strong consistency, and ACID properties (Atomicity, Consistency, Isolation, Durability).
NoSQL (Not Only SQL) Databases:

Definition: NoSQL databases are non-relational databases that don't use SQL for querying (or use a variant of SQL). They are designed to be more flexible and scalable than SQL databases.
Examples: MongoDB, Cassandra, Redis, Couchbase.
Characteristics: Schema-less, flexible data models, eventual consistency, horizontal scalability, and distributed architecture.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language): DDL is used to define the structure of the database.

CREATE: Used to create objects (e.g., tables, views, indexes) in the database.
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    department VARCHAR(100)
);

DROP: Used to delete objects (e.g., tables) from the database.
DROP TABLE employees;

ALTER: Used to modify objects (e.g., tables, columns) in the database.
ALTER TABLE employees ADD COLUMN salary DECIMAL(10, 2);

TRUNCATE: Used to remove all records from a table but keep its structure intact.
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language): DML is used for managing data within database objects.

INSERT: Used to insert new records into a table.
INSERT INTO employees (id, name, department, salary)
VALUES (1, 'John Doe', 'IT', 50000);

UPDATE: Used to modify existing records in a table.
UPDATE employees SET salary = 55000 WHERE id = 1;

DELETE: Used to delete records from a table.
DELETE FROM employees WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language): DQL is used to retrieve data from the database.

SELECT: Used to fetch data from one or more tables.
SELECT * FROM employees WHERE department = 'IT';

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or a set of columns that uniquely identifies each row in a table.
It must contain unique values and cannot have NULL values.
Example:
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(id)
);

Foreign Key:
A foreign key is a column or a combination of columns that is used to establish and enforce a link between the data in two tables.
It creates a relationship between two tables and refers to the primary key of another table.
Example:
CREATE TABLE departments (
    id INT PRIMARY KEY,
    name VARCHAR(100)
);
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(id)
);

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# Creating a cursor object using the cursor() method
mycursor = mydb.cursor()

# Using the execute() method to execute SQL queries
mycursor.execute("SELECT * FROM employees")

# Fetching data from the executed query
result = mycursor.fetchall()
for row in result:
    print(row)

# Closing the cursor and connection
mycursor.close()
mydb.close()
cursor(): This method creates a cursor object which is used to execute SQL queries in Python.

execute(): This method is used to execute SQL queries. It can execute parameterized queries and fetch data from the database.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

The order of SQL clauses in a query is typically as follows:
SELECT: Specifies the columns to be retrieved from one or more tables.
FROM: Specifies the tables from which to retrieve the data.
WHERE: Filters the rows based on a condition.
GROUP BY: Groups the rows that have the same values into summary rows.
HAVING: Filters the groups that are returned by the GROUP BY clause.
ORDER BY: Sorts the result set in ascending or descending order.
LIMIT/OFFSET: Limits the number of rows returned.
For example:
SELECT column1, column2
FROM table
WHERE condition
GROUP BY column1
HAVING condition
ORDER BY column1 ASC
LIMIT 10 OFFSET 20;