<a href="https://colab.research.google.com/github/Zayed2022/Assignments/blob/main/pandasadv2402.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. List any five functions of the pandas library with execution.

In [2]:
#head(): Displays the first few rows of the DataFrame.
import pandas as pd
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
print(df.head(3))  # Shows first 3 rows

#describe(): Generates summary statistics of numerical columns.
print(df.describe())

#dropna(): Removes missing values (NaN) from the DataFrame.
df_with_nan = pd.DataFrame({'A': [1, None, 3], 'B': [4, 5, None]})
df_clean = df_with_nan.dropna()
print(df_clean)

#sort_values(): Sorts the DataFrame based on a column.
sorted_df = df.sort_values('B')
print(sorted_df)

#groupby(): Groups rows based on a column's values and applies an aggregate function.
grouped = df.groupby('A').sum()
print(grouped)

   A   B
0  1  10
1  2  20
2  3  30
              A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000
     A    B
0  1.0  4.0
   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
    B
A
1  10
2  20
3  30
4  40
5  50

Q2. Re-index the DataFrame df with a new index that starts from 1 and increments by 2 for each row.

In [3]:
def reindex_dataframe(df):
    new_index = range(1, 2 * len(df) + 1, 2)
    df.index = new_index
    return df

# Example
data = {'A': [1, 2, 3], 'B': [10, 20, 30], 'C': [100, 200, 300]}
df = pd.DataFrame(data)
df = reindex_dataframe(df)
print(df)

   A   B    C
1  1  10  100
3  2  20  200
5  3  30  300

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [4]:
def sum_first_three(df):
    first_three_sum = df['Values'].head(3).sum()
    print(f"The sum of the first three values is: {first_three_sum}")

# Example
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
sum_first_three(df)

The sum of the first three values is: 60

Q4. Write a function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [5]:
def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Example
data = {'Text': ['Hello world', 'Pandas is fun', 'Data Science']}
df = pd.DataFrame(data)
df = add_word_count_column(df)
print(df)

            Text  Word_Count
0    Hello world           2
1  Pandas is fun           3
2   Data Science           2

Q5. How are DataFrame.size and DataFrame.shape different?
<br>DataFrame.size: Returns the total number of elements in the DataFrame (rows Ã— columns).
<br>DataFrame.shape: Returns a tuple representing the dimensions of the <br>DataFrame (number of rows, number of columns).

In [6]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("Size of DataFrame:", df.size)  # Output: 6 (3 rows * 2 columns)
print("Shape of DataFrame:", df.shape)  # Output: (3, 2)

Size of DataFrame: 6
Shape of DataFrame: (3, 2)

Q6. Which function of pandas do we use to read an Excel file?

pd.read_excel() is used to read data from an Excel file.

Q7. Write a function that creates a new column 'Username' in df that contains only the username part of each email address.

In [7]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example
data = {'Email': ['john.doe@example.com', 'jane.doe@gmail.com']}
df = pd.DataFrame(data)
df = extract_username(df)
print(df)

                  Email  Username
0  john.doe@example.com  john.doe
1    jane.doe@gmail.com  jane.doe