<a href="https://colab.research.google.com/github/Zayed2022/Assignments/blob/main/pandas2502.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a code to print the data present in the second row of the DataFrame df.

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Print second row (index 1)
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
<br>loc: Used for label-based indexing. It selects data by row labels or boolean array.
i<br>loc: Used for positional-based indexing. It selects data by row positions (integer locations).

In [2]:
# Using loc (label-based)
print(df.loc[1])  # Retrieves the row with label 1

# Using iloc (position-based)
print(df.iloc[1])  # Retrieves the second row (index position 1)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q3. Reindex the DataFrame using reindex = [3,0,1,2] and find the output for both new_df.loc[2] and new_df.iloc[2].

In [3]:
# Reindexing
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Output for new_df.loc[2]
print(new_df.loc[2])

# Output for new_df.iloc[2]
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

<br>new_df.loc[2] will print the row with the label 2.
<br>new_df.iloc[2] will print the row at the third position (index 2) after reindexing.

Q4. Write a code to find the following statistical measurements for the DataFrame df1:

In [4]:
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Mean of each column
print(df1.mean())

# (ii) Standard deviation of 'column_2'
print(df1['column_2'].std())

column_1    0.456164
column_2    0.312056
column_3    0.659479
column_4    0.449033
column_5    0.566757
column_6    0.532844
dtype: float64
0.2947263180504063

Q5. Replace the data present in the second row of column column_2 with a string variable, then find the mean of column_2.

In [5]:
# Replacing second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_value'

# Trying to calculate mean will cause an error
try:
    print(df1['column_2'].mean())
except TypeError as e:
    print(f"Error: {e}")

Error: unsupported operand type(s) for +: 'float' and 'str'

<ipython-input-5-37923e773850>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'string_value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = 'string_value'

Q6. What do you understand about the window function in pandas and list the types of window functions?<br>
answer:<br>Window function: These functions perform calculations over a sliding window of rows. The window can be a fixed number of rows or a time period.<br>
Types of window functions in pandas:<br>
Rolling: Calculates statistics over a rolling window.<br>
Expanding: Calculates statistics over an expanding window (growing over time).<br>
EWM (Exponential Weighted Functions): Applies exponentially weighted statistics to the data.

Q7. Write a code to print only the current month and year at the time of answering this question.

In [6]:
import pandas as pd

# Current month and year
current_date = pd.Timestamp.now()
print(f"Month: {current_date.month}, Year: {current_date.year}")

Month: 10, Year: 2024

Q8. Write a Python program that takes two dates as input and calculates the difference between them in days, hours, and minutes using Pandas time delta.

In [8]:
import pandas as pd

# Input from the user
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert to datetime
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference
time_difference = date2 - date1

# Print the difference in days, hours, and minutes
days = time_difference.days
hours, remainder = divmod(time_difference.seconds, 3600)
minutes, _ = divmod(remainder, 60)
print(f"Difference: {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 2003-11-30
Enter the second date (YYYY-MM-DD): 2024-10-15
Difference: 7625 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type.

In [ ]:
import pandas as pd

# User input for file path and column to convert
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter category order (comma-separated): ").split(',')

# Read CSV file
df = pd.read_csv(file_path)

# Convert the specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Display sorted data
print(df.sort_values(by=column_name))

Q10. Write a Python program that reads a CSV file containing sales data and visualizes the data using a stacked bar chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Input from the user
file_path = input("Enter the CSV file path: ")

# Read CSV file
df = pd.read_csv(file_path)

# Pivot data for visualization
df_pivot = df.pivot(index='Date', columns='Product_Category', values='Sales')

# Plot stacked bar chart
df_pivot.plot(kind='bar', stacked=True)
plt.title('Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.show()

Q11. Write a Python program that reads a CSV file containing student data and calculates the mean, median, and mode of the test scores.

In [ ]:
import pandas as pd

# User input for file path
file_path = input("Enter the file path of the CSV file: ")

# Read CSV file
df = pd.read_csv(file_path)

# Calculate statistics
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()

# Display the results in a table format
print(f"+-----------+--------+")
print(f"| Statistic | Value  |")
print(f"+-----------+--------+")
print(f"| Mean      | {mean_score:.1f} |")
print(f"| Median    | {median_score:.1f} |")
print(f"| Mode      | {', '.join(map(str, mode_score))} |")
print(f"+-----------+--------+")