<a href="https://colab.research.google.com/github/Zayed2022/Assignments/blob/main/pandas2202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable and print it.

In [2]:
# Create a list of 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
list_series = pd.Series(my_list)

# Print the Series
print(list_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
# Create a DataFrame using a dictionary
data = {
    'Name': ['John', 'Jane', 'Alice', 'Bob'],
    'Age': [28, 24, 35, 42],
    'City': ['New York', 'Paris', 'Berlin', 'Tokyo']
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Name  Age      City
0   John   28  New York
1   Jane   24     Paris
2  Alice   35    Berlin
3    Bob   42     Tokyo

Q4. What is a ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.
<br>A DataFrame in pandas is a 2-dimensional labeled data structure, similar to a table with rows and columns. It can hold multiple data types (e.g., integers, floats, strings).
A Series is a 1-dimensional labeled array capable of holding a single data type.

In [4]:
# Series
series = pd.Series([10, 20, 30, 40])
print("Series:")
print(series)

# DataFrame
data = {'Col1': [10, 20, 30], 'Col2': [40, 50, 60]}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

Series:
0    10
1    20
2    30
3    40
dtype: int64

DataFrame:
   Col1  Col2
0    10    40
1    20    50
2    30    60

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?<br>
ans:<br>Some common functions to manipulate data in Pandas DataFrames include:

<br>df.head(): To view the first few rows of the DataFrame.
<br>df.describe(): To get summary statistics.
<br>df.drop(): To remove rows or columns.
df.fillna(): To fill missing values.
df.groupby(): To group data for aggregation.

In [5]:
# Filling missing values
data = {'A': [1, 2, None, 4], 'B': [5, None, 7, 8]}
df = pd.DataFrame(data)

# Fill missing values with a default value
df_filled = df.fillna(0)
print(df_filled)

     A    B
0  1.0  5.0
1  2.0  0.0
2  0.0  7.0
3  4.0  8.0

Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?
<br>Both Series and DataFrame are mutable in nature. You can change their content after they are created.

<br>Panel has been deprecated in the latest versions of Pandas, so it is no longer commonly used.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
# Create multiple Series
series1 = pd.Series([1, 2, 3, 4], name='A')
series2 = pd.Series([10, 20, 30, 40], name='B')
series3 = pd.Series([100, 200, 300, 400], name='C')

# Create a DataFrame using these Series
df = pd.DataFrame({series1.name: series1, series2.name: series2, series3.name: series3})

# Print the DataFrame
print(df)

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400